<section class="support-us">
    <h2>Hey, do you like this kind of project?</h2>
    <p>
        To make sure we can keep working on free and open-source projects like this,<br>
        <b>please consider becoming a <a href="https://github.com/sponsors/spacehuhntech">❤️ Sponsor</a> or support us
            via <a href="https://ko-fi.com/spacehuhn">☕ Ko-fi</a>.</b><br>
        <br>
        Visit <a href="https://spacehuhn.com">spacehuhn.com</a> to learn more about us. 🐔
    </p>
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support us on Ko-fi', '#29abe0', 'G2G75FA4V');kofiwidget2.draw();</script> 
</section>