<section class="support-us">
    <h2>Hey, do you like this kind of content?</h2>
    <p>
        Help us continue making free and open-source projects by becoming a <b><a href="https://github.com/sponsors/spacehuhntech">❤️ Sponsor</a></b>
        or supporting us via <b><a href="https://ko-fi.com/spacehuhn">☕ Ko-fi</a></b>.
        <br>
        <br>
        Visit <a href="https://spacehuhn.com">spacehuhn.com</a> to learn more about us. 🐔<br>
        <br>
        <a href="https://ko-fi.com/G2G75FA4V" target="_blank"><img height="36" style="border:0px;height:36px;"
                src="https://cdn.ko-fi.com/cdn/kofi1.png?v=3" border="0" alt="Buy Me a Coffee at ko-fi.com" />
        </a>
    </p>
</section>